
body {
    padding: 5%;
    justify-content: center;
}
section {
    background-color: #000640;
    display: block;
    justify-content: center;
    width: 40vh;
    height: 80vh;
    margin: 1vh;
    padding: 30px;
    border-radius: 1rem;
    float: left;
}

div {
    justify-content: center;
    display: block;
    padding: 6%;
}

article {
    border-radius: 1rem;
    background-color: white;
    text-align: center;
    width: 35vh;
    height: 35vh;
    font-size: 4vh;
}

.logo {
    padding-top: 20px;
    padding-left: 10vh;
}

img {
    width: 15vh;
    height: 15vh;
}

.prod {
    width: 15vh;
    height: 15vh;
}

h1 {
    padding: 10px;
    background-color: red;
    border-radius: 1rem;
    color: white;
}