*{
    padding: 2vh;
}

body {
    background-color:#151A37;
}

section {
    align-items: center;
    flex-direction: column;
    margin: 4px;
    padding-bottom: 15vh;
}



article {
    background-color: white;
    border-radius: 3rem;
}

h1 {
    background-color: red;
}

.logo {
    padding-top: 6vh;
    width: 25vh;
}



img {
    width: 20vh;
    height: 20vh;
}